@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.header-drop {
  background: linear-gradient(0deg, rgba(255, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.leaflet-zoom-anim .leaflet-zoom-animated {
  transition-timing-function: linear;
  transition-duration: 100ms;
}

.marker-pie {
  background-clip: padding-box;
  border-radius: 100%;
}
.marker-pie div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  backdrop-filter: blur(2px);
  box-shadow: inset 0 0 0 2px #fff7;
}

.leaflet-bar a {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.marker-grey div {
  color: white;
  border-radius: 100%;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  backdrop-filter: blur(5px);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: theme('colors.blue.500');
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
